:where(.css-dev-only-do-not-override-1gwfwyx).ant-layout .ant-layout-sider {
    background: white;
}

.admin-container {
    height: 100vh;

    .admin-header {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        height         : 50px;
    }

}

.header-table {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    height         : 25px;
}

:where(.css-dev-only-do-not-override-1gwfwyx).ant-layout .ant-layout-sider-trigger {
    background: white;
    color     : black;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn trong Chrome và các trình duyệt WebKit */
}